.logo {
    position: absolute;
    top: 200px;
    left: 200px;
}

.sticker {
    position: absolute;
    top: 200px;
    left: 850px;
}

.message {
    position: absolute;
    top: 400px;
    left: 200px;
    font-size: x-large;
    font-family: Georgia, serif;
    color: #6d7869;

}