/*style of search box*/
@media screen and (orientation: landscape) {
    #logo {
        margin: 300px auto 0px;
        line-height: 0;
        width: 600px;
        border: none;
    }

    .logobox {
        text-align: center;
        height: 420px;
    }

    .main {
        text-align: center;
        width: 100%;
        max-width: 800px;
        height: 100px;
        margin: 0 auto 0;
        position: relative;
    }

    input[type=text] {
        flex: 1;
        max-width: 650px;
        height: 52px;
        position: relative;
        text-align: left;
        padding: 15px 20px;
        margin: 15px 15px 0 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 15px;
    }

    input[type=text]:focus {
        border: 2px solid #a1abba;
        border-radius: 4px;
        box-shadow: 10px 10px 30px #a1abba;
    }
    
    /*style of search box when mouse is on top*/
    input[type=text]:hover {
        border: 2px solid #4286f4;
        border-radius: 4px;
        box-shadow: 10px 10px 30px #a1abba;
    }

    input[type=submit] {
        flex: none;
        position: relative;
        width: 100px;
        margin-top: 15px;
        margin-right: auto;
        height: 52px;
        background-color: #4CAF50;
        color: white;
        padding: 15px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .sform {
        max-width: 1200px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 0;
    }
    
    .searchbox {
        height: 90px;
        width: 100%;
        display: flex;
    }

    #pupilleft {
        position: relative;
        background: #000000;
        border-radius: 50%;
    }

    #eyeleft {
      position: absolute;
      background: #DEE3C6;
      overflow: hidden;
      border-radius: 50%;
    }

    #pupilleft {
      width: 30px;
      height: 30px;
    }

    #eyeleft {
      width: 100px;
      height: 100px;
      left: 155px;
      bottom: 118px;
    }

    #crocodile {
        left: 0px;
        bottom: 0px;
        position: absolute;
        width: 500px;
        margin: 0px;
        padding: 0px;
    }
}


.mouse_follow_left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.mouse_follow_right {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#mouse_follower {
    transition: transform .1s
    
}

#fish_bone {
    z-index: 100;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
}

@media screen and (orientation: portrait) {
    #logo {
        margin: 140px auto 0px;
        line-height: 0;
        width: 250px;
        border: none;
    }

    .logobox {
        text-align: center;
        height: 190px;
    }

    .main {
        text-align: center;
        width: 100%;
        max-width: 750px;
        margin: 8px;
        position: relative;
    }

    input[type=text] {
        border: 1px solid #d9d9d9;
        flex: 1;
        max-width: 700px;
        position: relative;
        text-align: left;
        padding: 5px 3px;
        height: 38px;
        font-size: 18px;
        border-radius: 4px;
        margin: 0 5px 0 0;
    }

    input[type=text]:focus {
        box-shadow: 2px 2px 2px #a1abba;
    }

    input[type=submit] {
        flex: none;
        position: relative;
        height: 38px;
        background-color: #4CAF50;
        color: white;
        padding: 8px 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }

    .sform {
        margin-left: auto;
        margin-right: auto;
        max-width: 736px;
        overflow: hidden;
        width: 100%;
    }
    
    .searchbox {
        height: 40px;
        width: 100%;
        display: flex;
    }
}
