/*style of search box*/
input[type=text] {
    width: 650px;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;

}

/*style of search box when clikced on*/
input[type=text]:focus {
    border: 2px solid #a1abba;
    border-radius: 4px;
    box-shadow: 10px 10px 30px #a1abba;
}

/*style of search box when mouse is on top*/
input[type=text]:hover {
    border: 2px solid #4286f4;
    border-radius: 4px;
    box-shadow: 10px 10px 30px #a1abba;
}

/*style of submit button*/
input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

/*style of submit button when mouse is on top*/
input[type=submit]:hover {
    background-color: #45a049;
}

.searchbar {
    position: absolute;
    top:300px;
    left:350px;
    /*margin-top: 15%;*/
    /*position: fixed;*/
}

.bottomart {
    bottom: 0;
    position: absolute;
}

.profilepic {
    border-radius: 50%;
    overflow: hidden;
}

.recentKW {
    position: absolute;
    top:482px;
    left:350px;
    width:650px;
    background-color: #e5ede2;
    font-size: large;
}

tr:nth-child(even){background-color: #d3dbd1}

th, td {
    text-align: center;
    padding: 5px;
}

table {
    width: 650px;
}

#panel {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

#logo {
    position: relative;
    left: 50px;
    width: 600;
}