
.r {
  margin: 0;
}

body {
  background: #f3f3f3;
}

hr {
  display: block;
  border: 0;
  border-bottom: 1px solid #DFE1E5;
  margin: 10px 0 10px 0;
}

.r a {
  text-decoration: none;
}

.r a:hover {
  text-decoration: underline;
}

cite {
  color: #006621;
  font-style: normal;
  font-size: 14px;
}

.spell_co {
  margin: .33em 0 17px;
  font-size: 18px;
}

.spell a {
  text-decoration: none;
}

.spell a:hover {
  text-decoration: underline;
}

.spell a:link {
  cursor: pointer;
  color: #1a0dab;
}

.spell a:visited {
  color:#609;
}

.container {
    display: flex;
    flex-wrap: wrap;
    animation: 0.5s ease-out 0s 1 slideUp;
}

.box {
  width: 100%;
}

@keyframes slideUp {
  0% {
    transform: translateY(2%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@media screen and (orientation: landscape) {
  .pagecenter {
    display: none;
  }
  .cardlink {
    display: none;
  }

  .sfbgx {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    background-clip: content-box;
  }

  .container {
    position: relative;
    top: 70;
  }

  .logobox {
    position: relative;
    width: 160px;
    left: 8px;
    top: 20px;
  }

  .logo {
    width: 160px;
    animation: 0.5s ease-out 0s 1 slideInFromAbove;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
  }

  .logo:hover {
    -webkit-transform: rotate(-2deg) scale(1.08);
       -moz-transform: rotate(-2deg) scale(1.08);
         -o-transform: rotate(-2deg) scale(1.08);
            transform: rotate(-2deg) scale(1.08);
  }

  result {
    word-wrap: break-word;
  }

  input[type=text] {
    position: relative;
    top: 8px;
    background-color: #f7f8fa;
    min-width: 500px;
    /* width: 40%; */
    padding: 8px 8px;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    transition: background-color .5s, min-width .5s, box-shadow .5s;
    -webkit-transition: background-color .5s, min-width .5s, box-shadow .5s;
    -moz-transition: background-color .5s, min-width .5s, box-shadow .5s;
    -o-transition: background-color .5s, min-width .5s, box-shadow .5s;
  }

  /*style of search box when clikced on*/
  input[type=text]:focus {
      outline-style: none;
      border-radius: 3px;
      min-width: 755px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
      box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
      transition: background-color .5s, min-width .5s, box-shadow .5s;
      -webkit-transition: background-color .5s, min-width .5s, box-shadow .5s;
      -moz-transition: background-color .5s, min-width .5s, box-shadow .5s;
      -o-transition: background-color .5s, min-width .5s, box-shadow .5s;
  }

  /*style of search box when hover*/
  input[type=text]:hover {
      border-radius: 4px;
      border: 1px solid #ccc;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
      box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
      transition: background-color .5s, min-width .5s, box-shadow .5s;
      -webkit-transition: background-color .5s, min-width .5s, box-shadow .5s;
      -moz-transition: background-color .5s, min-width .5s, box-shadow .5s;
      -o-transition: background-color .5s, min-width .5s, box-shadow .5s;
  }

  /*style of submit button*/
  input[type=submit] {
    outline-style: none;
    position: relative;
    top: 8px;
    min-width: 28px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }

  /*style of submit button when mouse is on top*/
  input[type=submit]:hover {
      background-color: #45a049;
  }

  h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 100;
    font-size: 25;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
  }

  .card {
    width: 800px;
    margin-left: 165px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 16px 20px 16px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    font-family: arial,sans-serif;
  }

  .g {
    margin-top: 0;
    font-size: small;
    font-family: arial,sans-serif;
    line-height: 1.2;
    text-align: left;
  }

  .result {
    font-size: medium;
  }

  .logo {
    position: absolute;
    float: left;
    left: 0;
  }
  
  .page_center {
    position: relative;
    width: 800px;
    margin: auto;
    margin-left: 165px;
    padding: 11px 16px 11px 16px;
  }
  
  refdiv {
    width: 100%;
    word-wrap : break-word;
  }

  cite {
    word-wrap: break-word;;
  }

  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    background-color: #ffffff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-family: arial,sans-serif;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
  /*      position: absolute;
    bottom: 20px;*/
  }
  
  .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }

  .searchbox {
    position: relative;
    left: 165px;
  }

  .r a:link {
    cursor: pointer;
    color: #1a0dab;
  }
  
  .r a:visited {
    color:#609;
  }

  .spell {
    color: #dd4b39;
    font-family: arial,sans-serif;
  }
}

@media screen and (orientation: portrait) {
  .sfbgx {
    height: 120px;
    text-align: center;
  }

  .logo {
    margin: 16px auto 8px;
    line-height: 0;
    height: 36px;
    border: none;
  }

  .logobox {
      text-align: center;
      height: 64px;
  }

  .main {
      text-align: center;
      width: 100%;
      max-width: 750px;
      position: relative;
      right: 5px;
  }

  input[type=text] {
      border: 1px solid #d9d9d9;
      flex: 1;
      max-width: 700px;
      position: relative;
      text-align: left;
      padding: 5px 3px;
      height: 38px;
      font-size: 18px;
      border-radius: 4px;
      margin: 0 5px 0 0;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
      box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
  }

  input[type=text]:focus {
      outline-style: none;
      border: 1px solid #d9d9d9;
  }

  input [type=submit]:focus {
    outline-style: none;
  }

  input[type=submit] {
      outline-style: none;
      flex: none;
      position: relative;
      height: 38px;
      background-color: #4CAF50;
      color: white;
      padding: 8px 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      box-shadow: 0px 0px 8px #83d3a4;
  }

  .sform {
      margin: 2px 0 2px 2px;
      max-width: 736px;
      overflow: hidden;
      width: 100%;
  }

  .searchbox {
      height: 45px;
      width: 100%;
      display: flex;
  }

  .card {
    border: 1px solid #d9d9d9;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    text-align: left;
    padding: 11px 16px 11px 16px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 7px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
    font-family: arial,sans-serif;
  }

  .g {
    width: 100%;
  }

  .rcnt {
    border: 0;
    margin: 0;
  }

  result {
    word-wrap: break-word;
  }

  .r a{
    font-size: 16px;
    font-weight: normal;
  }

  .r a:link {
    cursor: pointer;
    color: #1967D2;
  }
  
  .r a:hover {
    text-decoration: none;
  }

  .r a:visited {
    color:#4B11A8;
  }

  refdiv {
    width: 100%;
    word-wrap : break-word;
  }

  cite {
    word-wrap: break-word;;
  }

  .pagecenter {
    width: 100%;
    text-align: center;
  }

  .page_center {
    display: none;
  }

  .aldiv {
    width: 30%;
    display: inline-block;
  }

  .rldiv {
    width: 30%;
    display: inline-block;
  }

  .aleft {
    text-align: right;
    width: 100%;
  }

  .pagecenter a {
    display: block;
  }

  .pagecenter a:link{
    text-decoration: none;
    color: #777777;
  }

  .pagecenter a:visited {
    text-decoration: none;
    color: #777777;
  }
  
  .pagecenter a:hover{
    text-decoration: none;
    color: #777777;
  }

  .aright {
    text-align: left;
    width: 100%;
  }

  .pagenum {
    display: inline-block;
    width: 20%;
  }
}