<html>
	<head>
		<title> 404 ERROR </title>
		<link rel="stylesheet" href="/static/css/error_page.css">
	</head>

	<body>
		<div class="logo">
			<img src = "/static/image/test_logo.png" width = 400>
		</div>	
		<div class="sticker">
			<img src = "/static/image/404sticker.png" width = 450>
		</div>
		<div class="message">
			<p> OH NO... That's an error... </p>
			<p> The requested content does not exist on our website :( </p>
			<a href = "/" title = "Go to homepage">
			<p> Click me to go back to Homepage </p>
			</a>
		</div>
		</div>
	</body>