<html>

  	<head>
		  <title>Stinky Fish</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <link rel="stylesheet" href="/static/css/homepage.css">

  	</head>
  	
  	<script type="text/javascript">
    	window.onload = function() {
    		var bone = document.getElementById("mouse_follower");
			document.addEventListener("mousemove", getMouse); 

			bone.style.position = "absolute"; //css		
			var bonepos = {x:0, y:0};

			setInterval(followMouse, 50);
		
			var mouse = {x:0, y:0}; //mouse.x, mouse.y
		
			var dir = "right";
			function getMouse(e){
				mouse.x = e.pageX;
				mouse.y = e.pageY;
        		//Checking directional change
        		if(mouse.x > bonepos.x){
          			dir = "left";
       			} else {
          			dir = "right";
        		}
			}
		
			function followMouse(){
				//1. find distance X , distance Y
				var distX = mouse.x - bonepos.x;
				var distY = mouse.y - bonepos.y;
				//Easing motion
				bonepos.x += distX/5;
				bonepos.y += distY/2;
				
				bone.style.left = bonepos.x + "px";
				bone.style.top = bonepos.y + "px";
	      
		        //Apply css class 
		        if (dir == "right"){
		          bone.setAttribute("class", "mouse_follow_right");
		        } else {
		          bone.setAttribute("class", "mouse_follow_left");        
		        }
					
			}
	    }
  	</script>

  	<!-- mouse follower: fish bone -->
  	<div id = "mouse_follower">
  		<img src = "/static/image/fish_bone.png" width=100px>
  	</div>

  	<body>
		<!-- search bar and logo -->
		<div class = "container">
			<!-- logo image -->
			<div class = "box logobox">
				<img id = "logo" src = "/static/image/test_logo.png">
			</div>
			<!-- input filed for search -->
			<div class = "box main">
				<form method="get" action="/" class="sform">
					<div class = "searchbox">
							<input type='text' name='keywords'>
							<input type='submit' value='Search'>
					</div>
				</form>
			</div>
		</div>
  	</body>
</html>


