<html>

  	<head>
		  <title>Stinky Fish</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <link rel="stylesheet" href="/static/css/homepage.css">

  	</head>

  	<body>
		<!-- search bar and logo -->
		<div class = "container">
			<!-- logo image -->
			<div class = "box logobox">
				<img id = "logo" src = "/static/image/test_logo.png">
			</div>
			<!-- input filed for search -->
			<div class = "box main">
				<form method="get" action="/" class="sform">
					<div class = "searchbox">
							<input type='text' name='keywords'>
							<input type='submit' value='Search'>
					</div>
				</form>
			</div>
		</div>
  	</body>
</html>
