<html>
  	<head>
		  <title>Stinky Fish</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1" />
		  <link rel="stylesheet" href="/static/css/homepage.css">
		  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
		  <script src="/view/jquery.cookie.js"></script>
		  <script src="/view/suggestions.js"></script>
		  <script src="/view/mouse_follow.js"></script>
  	</head>

  	<!-- mouse follower: fish bone -->
  	<div id = "mouse_follower">
  		<img id = "fish_bone" src = "/static/image/fish_bone.png" width=100px>
  	</div>

  	<body>
		<!-- search bar and logo -->
		<div class = "container">
			<!-- logo image -->
			<div class = "box logobox">
				<img id = "logo" src = "/static/image/test_logo.png">
			</div>
			<!-- input filed for search -->
			<div class = "box main">
				<form method="get" action="/" class="sform" onsubmit="setHistory()">
					<div class = "searchbox">
							<input type='text' name='keywords' autocomplete='off' id='inputtable' onfocus="getSuggestions()" onkeyup="getSuggestions()">
							<input type='submit' value='Search' id="searchbutton">
					</div>
					<div id = "acomp">
						<ul id = "suggs"></ul>
					</div>
				</form>
			</div>
		</div>

		<!-- animated crocodile with moving eyes -->
	  	<div class = "animated_crocodile">
	  		<img id = "crocodile" src = "/static/image/crocodile.png">
	  		<div id="eyeleft">
  				<div id="pupilleft"></div>
			</div>
			<script src="/view/eye_move.js"></script>
		  </div>
  	</body>

  	

</html>


